body
{
	font-family: 'Oxygen', sans-serif;
	background-color: #F4F4F4;
	background: url("/images/background.svg");
}

/*----------------- TUTO -------------------*/

#tuto
{
	padding-top: 20px;
	color: #EF4D61;
}

#tuto button
{
	background-color: #f4f4f4;
	margin-left: 6px;
	margin-right: 6px;

	outline: none;
	
	color: #EF4D61;

	font-size: 14px;

	border-radius: 5px;
	border: 1px solid #EF4D61;
	text-align: center;
	white-space: nowrap;
	cursor: pointer;

	width: 250px;
	height: 30px;
}

	.tuto_btn {
	margin-top: 5px;
}

#tuto input[type="range"]
{
	margin-top: 3px;
	margin-left: 10px;
	background-color: #EF4D61;
}

#tuto svg
{
	display: inline-block;
	text-align: center;
}

/*----- dzoom ----*/

.dezoom
{
	zoom: 0.7;
}

/*=============== HEADER ===================*/
/*------------  style du titre -------------*/

header
{
	padding-left: 200px;
}

/*---------- connect form ------------*/

#connect_form
{
	margin-top: 20px;
	margin-right: 10px;
	padding-right: 0px;
	float: right;
}

#connect_form button
{
	background-color: #EAE5E1;
	margin-left: 6px;
	margin-right: 6px;

	outline: none;
	
	color: #EF4D61;

	font-size: 15px;

	border-radius: 5px;
	border: 1px solid #EAE5E1;
	text-align: center;
	white-space: nowrap;
	cursor: pointer;

	width: 110px;
	height: 30px;
}

.css-code
{
	position: absolute;
	right: 250px;
	top: 300px;
}

.yo
{
	margin-top : -5px;
	float: right;

	background-color: #;
	margin-left: 6px;
	margin-right: 6px;

	text-decoration: none; 

	outline: none;
	
	color: #EF4D61;

	font-size: 15px;

	border-radius: 5px;
	border: 1px solid #EF4D61;
	text-align: center;
	white-space: nowrap;
	cursor: pointer;

	padding-top: 10px;

	width: 110px;
	height: 30px;
}

.yo:hover
{
	background-color: #EF4D61;
	color: #EAE5E2;
}

#connect_form button:hover
{
	background-color: #EF4D61;
	color: #EAE5E1;
}

#register
{
	float: right;
}

/*--------------- menu bar -------------*/

@media (max-width: 500px) {
	.menu {
		display: none;
	}
	.navbar{
		background-color: #2F3031;
		height: 65px;
		width: 100%;
	}
	.navbar-default {
		background-color: #2F3031;
	}
}

@media (min-width: 500px) {
	.navbar {
		display: none;
	}
}

#logo {
	height: 70px;
}

.xs {
	text-align: center;
}

.menu
{
	margin: 0;
	padding: 0;
	background: #2F3031;
	height: 75px;
	width: 100%;
}

.btn_menu {
	padding-top: 18px;
	border-left: 1px white solid;
	height: 75px;
}

.xs_btn_menu {
	padding-top: 25px;
	border-left: 1px white solid;
	height: 75px;
}

.xs_btn {
	font-size: 18px;
	text-decoration: none;
	color: white;
}

.menu div {
	text-align: center;
}

.menu_txt {
	color: white;
	text-decoration: none;
	font-size: 25px;
}

.menu span:hover
{
	color: #EF4D61;
}

/*------------- begin button -----------*/

#no-dec {
	text-decoration: none;
	color: white;
}

#begin_button
{
	margin-top: 300px;
	text-align: center;
}

#begin_button h1
{
	margin-top: 0;
	margin-bottom: 25px;
	font-size: 39px;
}

#boutons
{
	margin: auto;
}

#begin_button button
{
	margin-left: 8px;
	margin-right: 8px;
	margin-bottom: 7px;
	border-color: #ff5a5f;
	border-bottom-color: #e00007;

	background-color: #EF4D61;
	color: #fff;

	outline: none;

	padding: 13px 27px;
	font-size: 30px;
	font-weight: 300;

	border-radius: 5px;
	border: 1px solid #ff5a5f;
	text-align: center;
	white-space: nowrap;
	cursor: pointer;

	width: 200px;
}

#begin_button button:hover
{
	background-color: #EA7D8F;
	border-color: #EA7D8F;
}


/* -------------- resume ----------------------*/

#resume
{
	text-align: center;
	padding-top: 20px;
	width: 574px;
	margin: auto;
	display: none;		
}


/*-------------- create page -----------------*/

#panel_page div
{
	display: inline;
}

/*-------------- all the shit which need to be recal ----------*/

.middle
{
	margin-left: 13%;
}


/*--------------- avatar creation --------------------*/

/*svg
{
	margin-left: 100px;
	margin-top: 100px;
}
*/

#img_svg
{
	margin-left: 25px;
	position: absolute;
}

.body-area
{
	text-align: center;
	padding-top: 300px;
}

#create div
{
	/*display: inline-block;
	vertical-align: vertical;*/
}


/*------------- footer -----------------*/

footer
{
	text-align: center;
	width: 100%;
	position:fixed;
	bottom:0;
	left:0;
	height: 60px;
	background: #EAE5E1;
}

footer div p
{
	display: inline-block;
	margin-left: 25px;
	margin-right: 25px;
}

footer div
{
	margin: 9px 0px 9px 200px;
	padding-top: 0px;
	font-size: 13px;
	color : #A0A3A2;
}

